<div class="mapboxgl-popup-content">
  <% if idea.photo.attached?  %>
    <%= cl_image_tag idea.photo.key, crop: :fill, class: "show-img" %>
  <% end %>
  <h6 class="mt-2"><strong><%= idea.title %></strong></h6>
  <p><%= idea.address %></p>
  <% if idea.votes.count == 1 %>
    <p><%= idea.votes.count %> vote</p> 
  <% else %>
    <p class="mb-0" style="color: #797979;"><%= idea.votes.count %> votes</p>
  <% end %>
</div>
