
<% if current_user.role == "municipality" %>

<%# MUNICIPALITY DASHBOARD %>
<div class="container-fluid" id="dashboard">
  <div class="row">
    <div class="col-3 tab-col-green">

      <%# TABS ON RIGHT STARTS HERE %>
      <div class="top-table d-flex flex-row p-3">
        <div class="dashboard-logo d-flex justify-content-center">
          <p class="d-dash">D</p>
        </div>
        <p class="ml-3 pt-2 title-dash">Dashboard</p>
      </div>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-chart-pie pr-2"></i>Overview</a>

        <a class="nav-link" id="v-pills-chat-tab" data-toggle="pill" href="#v-pills-chat" role="tab"
          aria-controls="v-pills-chat" aria-selected="true"><i class="fas fa-info-circle pr-2"></i></i>InfoChat</a>

        <%= link_to edit_user_registration_path do %>
        <p class="nav-link pb-0 mb-2">
          <i class="fas fa-user-edit pr-1"></i>
          Edit account
        </p>
        <% end %>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-cogs pr-2"></i>Settings</a>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <p class="nav-link">
          <i class="fas fa-sign-out-alt pr-2"></i>
          Log out
        </p>
        <% end %>
      </div>
    </div>
    <div class="col-9">
      <div class="d-flex justify-content-end align-items-center profile-dashbar mt-3 mr-4">
        <div class="d-flex dash-profile-content mr-3">
          <div>
            <i class="fas fa-search"></i>
            <i class="fas fa-bell ml-2"></i>
            <span class="ml-3">|</span>
            <span class="ml-3"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></span>
          </div>
          <div class="ml-2">
            <% if current_user.photo.attached?  %>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'avatar' %>
            <% else %>
            <p class="letter">
              <%= current_user.first_name.first.capitalize %><%= current_user.last_name.first.capitalize %></p>
            <% end %>
          </div>
        </div>
      </div>


      <%# TABS CONTENT  %>
      <div class="tab-content m-5" id="v-pills-tabContent">

        <%# OVERVIEW CONTENT  %>
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <h2>Welcome <%= current_user.first_name.capitalize %></h2>
          <div class="d-flex justify-content-between">
            <p>Give opportunities to these idea to be taken care of!</p>

          </div>
          <table class="table pt-3">
            <thead>
              <tr>
                <th scope="col">Resident</th>
                <th scope="col">Title</th>
                <th scope="col">Location</th>
                <th scope="col">
                  Status

                    <%= icon('fas', 'filter', class: "dropdown-toggle filter-icon ml-1", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)  %>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                      <%= link_to "Pending", url_for(params.permit("status", "votes").merge(status: "pending")), class: "filter-icon dropdown-item" %>
                      <%= link_to "Approved", url_for(params.permit("status", "votes").merge(status: "approved")), class: "filter-icon dropdown-item" %>
                      <%= link_to "Denied", url_for(params.permit("status", "votes").merge(status: "denied")), class: "filter-icon dropdown-item" %>
                      <%= link_to "All", dashboard_path(created_at: "asc"), class: "filter-icon dropdown-item" %>
                    </div>

                </th>
                <th scope="col">
                  Votes
                  <%= link_to url_for(params.permit("status", "votes").merge(votes: "desc")), class: "filter-icon ml-1" do %>
                    <i class="fas fa-sort-amount-down"></i>
                  <% end %>
                  <%= link_to url_for(params.permit("status", "votes").merge(votes: "asc")), class: "filter-icon ml-1" do %>
                  <%# dashboard_path( votes: "asc" ) %>
                    <i class="fas fa-sort-amount-up-alt"></i>
                  <% end %>
                </th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @ideas.each do |idea| %>
                <% if idea.municipality == true %>

                  <tr>
                    <th scope="row">
                      <div class="d-flex pt-3 pl-3">
                        <% if idea.user.photo.attached?  %>
                          <%= cl_image_tag idea.user.photo.key, crop: :fill, class: 'avatar' %>
                        <% else %>
                          <p class="letter">
                            <%= idea.user.first_name.first.capitalize %><%= idea.user.last_name.first.capitalize %>
                          </p>
                        <% end %>

                        <p class=" pl-2"> <%= idea.user.first_name.capitalize %>
                          <%= idea.user.last_name.capitalize %><br /><small
                            class="date"><%= time_ago_in_words(idea.created_at) %> ago</small></p>
                      </div>
                    </th>
                    <td><%= idea.title %></td>
                    <td><%= idea.address %></td>

                    <td><%= idea.status %></td>

                    <td>
                      <div class="d-flex align-items-center justify-content-between">
                        <p class="number-round-green m-0"><%= idea.votes.count %></p>

                        <%= link_to idea_path(idea) do %>
                          <i class="fas fa-arrow-circle-right mr-3", id="arrow-icon"></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>

                <% end %>

              <% end %>
            </tbody>
          </table>
        </div>

        <%# CHAT CONTENT  %>
        <div class="tab-pane fade" id="v-pills-chat" role="tabpanel" aria-labelledby="v-pills-chat-tab">
           <%= render(partial: "chatrooms/chat", locals: { chatroom: @chatroom, message: @message }) %>
        </div>

        <%# SETTINGS CONTENT  %>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

        </div>
      </div>
    </div>
  </div>
</div>

<% else %>

<%# RESIDENT DASHBOARD %>
<div class="container-fluid" id="dashboard">
  <div class="row">
    <div class="col-3 tab-col-green">

      <%# TABS ON RIGHT STARTS HERE %>
      <div class="top-table d-flex flex-row p-3">
        <div class="dashboard-logo d-flex justify-content-center">
          <p class="d-dash">D</p>
        </div>
        <p class="ml-3 pt-2 title-dash">Dashboard</p>
      </div>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-chart-pie pr-2"></i>Overview</a>

        <%= link_to ideas_path do %>
        <p class="nav-link pb-0 mb-2">
          <i class="far fa-compass pr-2"></i>Explore ideas
        </p>
        <% end %>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-lightbulb pr-2"></i>My ideas</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
          aria-controls="v-pills-messages" aria-selected="false"><i class="far fa-check-circle pr-2"></i>Voted ideas</a>


         <a class="nav-link" id="v-pills-pitchIdea-tab" data-toggle="pill" href="#v-pills-pitchIdea" role="tab"
          aria-controls="v-pills-pitchIdea" aria-selected="false"><i class="far fa-plus-square pr-2"></i>Pitch your idea</a>

         <a class="nav-link" id="v-pills-editAccont-tab" data-toggle="pill" href="#v-pills-editAccont" role="tab"
          aria-controls="v-pills-editAccont" aria-selected="false"><i class="fas fa-user-edit pr-2"></i>Edit Account</a>

        <a class="nav-link" id="v-pills-chatuser-tab" data-toggle="pill" href="#v-pills-chatuser" role="tab"
          aria-controls="v-pills-chatuser" aria-selected="true"><i class="fas fa-info-circle pr-2"></i>InfoChat</a>


        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-cogs pr-2"></i>Settings</a>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <p class="nav-link">
          <i class="fas fa-sign-out-alt pr-2"></i>
          Log out
        </p>
        <% end %>
      </div>
    </div>
    <div class="col-9">
      <div class="d-flex justify-content-end align-items-center profile-dashbar mt-3 mr-4">
        <div class="d-flex dash-profile-content mr-3">
          <div>
            <i class="fas fa-search"></i>
            <i class="fas fa-bell ml-2"></i>
            <span class="ml-3">|</span>
            <span class="ml-3"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></span>
          </div>
          <div class="ml-2">
            <% if current_user.photo.attached?  %>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'avatar' %>
            <% else %>
            <p class="letter">
              <%= current_user.first_name.first.capitalize %><%= current_user.last_name.first.capitalize %></p>
            <% end %>
          </div>
        </div>
      </div>


      <%# TABS CONTENT  %>
      <div class="tab-content m-5" id="v-pills-tabContent">

        <%# OVERVIEW CONTENT  %>
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <h2>Welcome <%= current_user.first_name.capitalize %></h2>
          <p>What do you want to do today for your neighbourhood?</p>


          <%# OVERVIEW TABS  %>
          <ul class="nav nav-tabs" id="myTab-overview" role="tablist">
            <li class="nav-item w-50" role="presentation">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-dashboard" role="tab"
                aria-controls="home" aria-selected="true">LATEST IDEAS</a>
            </li>
            <li class="nav-item w-50" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">MOST VOTED IDEAS</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">

            <%# LATEST IDEAS %>
            <div class="tab-pane fade show active" id="home-dashboard" role="tabpanel" aria-labelledby="home-tab">
              <p class="mt-3">Explore the latest ideas around you</p>
              <div>
                <% @latest_ideas.each do |idea| %>
                <%= link_to idea_path(idea), class: 'link-latest' do %>
                <div class="m-1 card-latest">
                  <div class="d-flex justify-content-between p-2 profile-card-latest">
                    <div class="d-flex dash-latest-card">
                      <% if idea.user.photo.attached?  %>
                      <%= cl_image_tag idea.user.photo.key, crop: :fill, class: 'avatar' %>
                      <% else %>
                      <p class="letter">
                        <%= idea.user.first_name.first.capitalize %><%= idea.user.last_name.first.capitalize %>
                      </p>
                      <% end %>
                      <div>
                        <small class='date pl-2'>
                          <%= time_ago_in_words(idea.created_at) %> ago by
                          <%= idea.user.first_name.capitalize %> <%= idea.user.last_name.capitalize %>
                        </small>
                      </div>
                    </div>
                    <div><small><strong><%= idea.votes.count %> votes</strong></small></div>
                  </div>


                  <div class="px-3">
                    <p class="pt-2 subtitle"><%= idea.title.capitalize %></p>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <i class="fas fa-map-marker-alt pr-1"></i>
                        <p> <%= idea.address %></p>
                      </div>
                      <div class="d-flex arrow-idea">
                        <p>Visit idea</p>
                        <i class="fas fa-arrow-circle-right pl-1 mt-1"></i>
                      </div>
                    </div>
                  </div>

                </div>
                <% end %>
                <% end %>
              </div>
            </div>

            <%# MOST VOTED IDEAS %>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <p class="mt-3">Explore the most popular ideas around you</p>
              <div>
                <% @popular_ideas.each do |idea| %>
                <%= link_to idea_path(idea), class: 'link-latest' do %>
                <div class="m-1 card-latest">
                  <div class="d-flex justify-content-between p-2 profile-card-latest">
                    <div class="d-flex dash-latest-card">
                      <% if idea.user.photo.attached?  %>
                      <%= cl_image_tag idea.user.photo.key, crop: :fill, class: 'avatar' %>
                      <% else %>
                      <p class="letter">
                        <%= idea.user.first_name.first.capitalize %><%= idea.user.last_name.first.capitalize %>
                      </p>
                      <% end %>
                      <div>
                        <small class='date pl-2'>
                          <%= time_ago_in_words(idea.created_at) %> ago by
                          <%= idea.user.first_name.capitalize %> <%= idea.user.last_name.capitalize %>
                        </small>
                      </div>
                    </div>
                    <div><small><strong><%= idea.votes.count %> votes</strong></small></div>
                  </div>

                  <div class="px-3">
                    <p class="pt-2 subtitle"><%= idea.title.capitalize %></p>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <i class="fas fa-map-marker-alt pr-1"></i>
                        <p> <%= idea.address %></p>
                      </div>
                      <div class="d-flex arrow-idea">
                        <p>Visit idea</p>
                        <i class="fas fa-arrow-circle-right pl-1 mt-1"></i>
                      </div>
                    </div>
                  </div>

                </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <%# END OVERVIEW TABS  %>

        </div>

        <%# MY IDEAS CONTENT  %>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h4>My ideas</h4>
          <p>See all the ideas you pitched</p>
          <% @my_ideas.each do |idea| %>
          <%= link_to idea_path(idea), class: 'link-latest' do %>
          <div class=" my-1 card-latest">
            <div class="d-flex justify-content-between p-2 profile-card-latest">
              <div class="d-flex dash-latest-card">
                <% if idea.user.photo.attached?  %>
                <%= cl_image_tag idea.user.photo.key, crop: :fill, class: 'avatar' %>
                <% else %>
                <p class="letter">
                  <%= idea.user.first_name.first.capitalize %><%= idea.user.last_name.first.capitalize %>
                </p>
                <% end %>
                <div>
                  <small class='date pl-2'>
                    <%= time_ago_in_words(idea.created_at) %> ago by
                    <%= idea.user.first_name.capitalize %> <%= idea.user.last_name.capitalize %>
                  </small>
                </div>
              </div>
              <div><small><strong><%= idea.votes.count %> votes</strong></small></div>
            </div>


            <div class="px-3">
              <p class="pt-2 subtitle"><%= idea.title.capitalize %></p>
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <i class="fas fa-map-marker-alt pr-1"></i>
                  <p> <%= idea.address %></p>
                </div>
                <div class="d-flex arrow-idea">
                  <p>Visit idea</p>
                  <i class="fas fa-arrow-circle-right pl-1 mt-1"></i>
                </div>
              </div>
            </div>

          </div>
          <% end %>
          <% end %>

        </div>


         <%# PITCH IDEA CONTENT  %>
        <div class="tab-pane fade" id="v-pills-pitchIdea" role="tabpanel" aria-labelledby="v-pills-pitchIdea-tab">
           <%= render(partial: "new-idea", locals: { idea: @idea }) %>
        </div>

         <%# EDIT ACCOUNT CONTENT  %>
        <div class="tab-pane fade" id="v-pills-editAccont" role="tabpanel" aria-labelledby="v-pills-editAccont-tab">
           <%= render(partial: "devise/registrations/edit", locals: { resource: current_user, resource_name: :user, devise_mapping: Devise.mappings[:user] }) %>
        </div>

         <%# CHAT CONTENT  %>
        <div class="tab-pane fade" id="v-pills-chatuser" role="tabpanel" aria-labelledby="v-pills-chatuser-tab">
           <%= render(partial: "chatrooms/chat", locals: { chatroom: @chatroom, message: @message }) %>
        </div>

        <%# MY VOTED IDEAS CONTENT  %>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <h4>My voted ideas</h4>
          <p>See all the ideas you voted for</p>
          <% @my_voted_ideas.each do |idea| %>

          <% unless idea.user == current_user %>

          <%= link_to idea_path(idea), class: 'link-latest' do %>
          <div class=" my-1 card-latest">
            <div class="d-flex justify-content-between p-2 profile-card-latest">
              <div class="d-flex dash-latest-card">
                <% if idea.user.photo.attached?  %>
                <%= cl_image_tag idea.user.photo.key, crop: :fill, class: 'avatar' %>
                <% else %>
                <p class="letter">
                  <%= idea.user.first_name.first.capitalize %><%= idea.user.last_name.first.capitalize %>
                </p>
                <% end %>
                <div>
                  <small class='date pl-2'>
                    <%= time_ago_in_words(idea.created_at) %> ago by
                    <%= idea.user.first_name.capitalize %> <%= idea.user.last_name.capitalize %>
                  </small>
                </div>
              </div>
              <div><small><strong><%= idea.votes.count %> votes</strong></small></div>
            </div>

            <div class="px-3">
              <p class="pt-2 subtitle"><%= idea.title.capitalize %></p>
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <i class="fas fa-map-marker-alt pr-1"></i>
                  <p> <%= idea.address %></p>
                </div>
                <div class="d-flex arrow-idea">
                  <p>Visit idea</p>
                  <i class="fas fa-arrow-circle-right pl-1 mt-1"></i>
                </div>
              </div>
            </div>

          </div>
          <% end %>
          <% end %>

          <% end %>

        </div>

        <%# SETTINGS CONTENT  %>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <%= render(partial: "devise/registrations/destroy", locals: { resource: current_user, resource_name: :user, devise_mapping: Devise.mappings[:user] }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>