<div class="container pt-5">
<%= link_to "go back", root_path %>
  <%= link_to 'create new idea', new_idea_path  %>
  <h1>Ideas List</h1>
  <% @ideas.each do |idea| %>
  <%= link_to idea_path(idea) do %>
  <div class="card py-4 px-2 d-flex">
  <% if idea.photo.attached?  %>
  <%= cl_image_tag idea.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div>
  <h6><%= idea.title %></h6>
  <p><strong>Problem: </strong><%= idea.problem %></p>
  </div>
  </div>
  <% end %>
  <% end %>
</div>
