<div class="container pt-5">
<%= link_to "go back", root_path %>
  <%= link_to 'create new idea', new_idea_path  %>
  <h1>Ideas List</h1>
  <% @ideas.each do |idea| %>
  <%= link_to idea_path(idea) do %>
  <div class="card py-4 px-2">
  <%= idea.title %>
  <p><strong>Problem: </strong><%= idea.problem %></p>
  </div>
  <% end %>
  <% end %>
</div>
