<div class="m-4 pt-5">
<div class="d-flex">
    <div class=" box-card-index mr-3">
      <div>
        <h3><strong>Check out all ideas around you!</strong></h3>
      </div>
      <div>
        <p>
          These are ideas from people living in your neighborhood.
          <br> Your vote could make the difference!
        </p>
      </div>
      <% @ideas.each do |idea| %>
      <%= link_to idea_path(idea), class: 'card-link' do %>
      <div class="card py-4 px-4 d-flex index-card">

        <div class='user-index'>
          <div>
           <% if idea.user.photo.attached?  %>
        <%= cl_image_tag idea.user.photo.key, crop: :fill, class: 'avatar' %>
        <% else %>
          <p class="letter avatar"><%= current_user.first_name.first.capitalize %><%= current_user.last_name.first.capitalize %></p>
          <% end %>
          </div>
          <div class='user-name ml-2'><%= idea.user.first_name %></div>
          <div class='date'><%= time_ago_in_words(idea.created_at) %> ago</div>
        </div>
        <div class='title-index'>
          <p>
            <%= idea.title %>
          </p></div>
          <div class='content-index'>
            <p>
              <%= truncate(idea.problem, length: 120) %>
            </p>
          </div>
          <div class='footer-index'>
            <% if idea.votes.count == 1 %>
            <%= idea.votes.count %> vote
            <% else %>
            <%= idea.votes.count %> votes
            <% end %>

          </div>


        </div>
        <% end %>
        <% end %>
      </div>
        <div class='w-100 map'>
        <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        class="mapboxgl-popup mapboxgl-popup-content">
      </div>
      </div>

</div>
</div>



<%# GOOD HTML STRUCTURE USING BOOTSTRAP GRID %>
<%# <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">

      # CONTENT

      </div>
    </div>
  </div>
</div> %>
