<div class="container d-flex new-idea justify-content-around py-5">
<div class="w-50">
<h1>Create your Idea</h1>
<p class="subtitle">Give shape to your opinion and pitch your idea!</p>
<%= simple_form_for @idea do |f| %>
<%= f.input :title %>
<%= f.input :problem %>
<%= f.input :solution %>
<%= f.label :address, "Address * ..Dont't forgert the postcode 😉"%>
<%= f.input :address, as: :string, label: false %>
<%= f.input :photo, as: :file %>
<%= f.submit class: 'btn btn-warning py-2' %>

<% end %>
</div>
<%= image_tag "new-idea.svg"%>
</div>
