<h1>new ideapage</h1>
<%= simple_form_for @idea do |f| %>
<%= f.input :title %>
<%= f.input :problem %>
<%= f.input :solution %>
<%= f.input :address %>
<%= f.input :photo, as: :file %>
<%= f.submit %>
<% end %>
