<div class="container container-show py-5">
  <div class="row card-show">

    <%# IMAGE %>
    <div class="col-sm-12 p-0">
     <% if @idea.photo.attached?  %>
       <%= cl_image_tag @idea.photo.key, crop: :fill, class: "show-img" %>
     <% end %>
    </div>

    <%# LEFT SIDE %>
    <div class="col-sm-12 col-md-8">

      <div class="show-user d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div>
            <% if @idea.user.photo.attached?  %>
            <%= cl_image_tag @idea.user.photo.key, class: 'avatar' %>
            <% else %>
            <p class="letter avatar">
              <%=  @idea.user.first_name.first.capitalize %><%=  @idea.user.last_name.first.capitalize %></p>
            <% end %>
          </div>
          <p class="m-0 pl-2"><%= @idea.user.first_name.capitalize %> <%= @idea.user.last_name.capitalize  %></p>
          <p class="m-0 pl-4"><%= time_ago_in_words(@idea.created_at) %> ago</p>
        </div>

        <div class="show-icons">

          <% if @idea.user == current_user %>
          <%= link_to edit_idea_path(@idea), class: "pr-2" do %>
          <i class="fas fa-edit"></i>
          <% end %>
          <% end %>

          <% if @idea.user == current_user || current_user.role == "Municipality" %>
          <%= link_to idea_path(@idea), method: :delete, data: {confirm: 'Are you sure?'} do %>
          <i class="fas fa-trash"></i>
          <% end %>
          <% end %>

          <% if @idea.user != current_user && current_user.role != "Municipality" %>
          <%= link_to (@idea), class: "pr-2" do %>
          <i class="fas fa-flag"></i>
          <% end %>
          <% end %>

        </div>
      </div>

      <div class="show-details">
      <div class="d-flex">
        <h1><%= @idea.title %></h1>
        <div class="mt-3 pl-3">
        <%# if the idea reached the goal will have the label showing: %>
        <% if @idea.votes.count == @idea.goal %>
          <% if @idea.status == "Pending" %>
          <p class="bg-light text-dark status-label"><small><%= @idea.status %></small></p>
        <% elsif @idea.status == "Approved" %>
          <p class="bg-success text-light status-label"><small><%= @idea.status %></small></p>
        <% else %>
          <p class="bg-danger text-light status-label"><small><%= @idea.status %></small></p>
        <% end %>
        <% end %>
        </div>
      </div>


        <p class="details-light"><i class="fas fa-map-marker-alt"></i> <%= @idea.address %></p>

        <div class="details-description">
          <p class="tag">PROBLEM</p>
          <p><%= @idea.problem %></p>
        </div>
        <div class="details-description">
          <p class="tag">SOLUTION</p>
          <p><%= @idea.solution %></p>
        </div>


         <%# FEEDBACK %>
      <% if @idea.has_feedback? %>
        <div class="details-description">
          <% if current_user.role == "Municipality" || @idea.user == current_user  %>
          <p class="tag">FEEDBACK</p>
            <% @idea.votes.each do |vote|  %>
              <% unless vote.comment == nil %>
              <div class="details-description pt-0 mt-0">
                <div class="user-feedback"><small> <%= time_ago_in_words(vote.updated_at) %> ago</small></div>
                <p><%= vote.comment %></p>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>

    <%# RIGHT SIDE %>
    <div class="col-sm-12 col-md-4 text-center">
     <%# if the user is municipality %>
      <% if current_user.role == "Municipality" %>
        <div class="pt-5">
          <h5>Status</h5>
            <%# if the idea has the right vote can be approved/denied %>
              <% if @idea.votes.count == @idea.goal %>
                <div class="approved-denied">
                    <h6 class="subtitle"> This idea will be:</h6>
                      <div>
                        <%= link_to "Approved", approve_path(@idea), method: :patch, remote: true, class: "btn btn-outline-success" %>
                        <%= link_to "Denied", deny_path(@idea), method: :patch, remote: true, class: "btn btn-outline-danger" %>
                      </div>
                </div>
              <% else %>
                <div>
                  <p>This idea still has to reach the right amount of votes to be approved or denied.</p>
                </div>
              <% end %>
        </div>
      <% else %>
        <% unless @idea.user == current_user %>
          <%# VOTE & UNVOTE BUTTON %>
          <% if @idea.municipality == true %>
            <div id='vote-btn' class="show-vote d-flex justify-content-center align-items-center">
              <% pre_vote =  @idea.pre_vote_find(current_user) %>
              <% if pre_vote %>
                <%= button_to vote_path(pre_vote), method: :delete, remote: true, class: "btn btn-warning py-2 w-100" do %>
                  <i class="far fa-square"></i></i> Unvote
                <% end %>
              <% else %>
                <%= button_to idea_votes_path(@idea), method: :post, remote: true, class: "btn btn-warning py-2 w-100" do %>
                  <i class="far fa-check-square"></i> Vote
                <% end %>
              <% end %>
            </div>

          <% else %>
        <%# PARTICIPATE BUTTON %>
          <div id='participate-btn' class="show-vote d-flex justify-content-center align-items-center">
            <% pre_vote =  @idea.pre_vote_find(current_user) %>
            <%= button_to vote_path(pre_vote), remote: true, class: "btn btn-warning py-2 w-100" do %>
              <i class="fas fa-rocket mr-2"></i> Participate
            <% end %>
          </div>
          <% end %>
        <% end %>
        <% end %>


        <%# PROGRESS BAR %>
        <div class="show-progress d-flex justify-content-center">
          <div class="progress-container" data-total="<%= @idea.goal %>" data-vote="<%= @idea.votes.count %>">

          </div>
        </div>



        <div class="ml-4 mt-4 show-goal-info">
          <%# INFO IF IDEA OFFICIAL %>
          <% if @idea.municipality == true %>
            <p class="mb-2">So far the idea has <strong><%= @idea.votes.count %></strong> votes.</p>

            <% if @idea.votes.count > @idea.goal %>
              <p class="m-0">The idea has <strong><%= @idea.votes.count - @idea.goal %></strong> votes more than needed in order to be discussed in your local municipality.</p>
            <% elsif @idea.votes.count == @idea.goal %>
              <p class="m-0">Congratulations! The idea has reached the amount of votes needed in order to be discussed in your local municipality.</p>
            <% else %>
              <p class="m-0"> The idea needs <strong><%= @idea.goal - @idea.votes.count %></strong> votes more in order to be discussed in your local municipality.</p>
            <% end %>

          <%# INFO IF IDEA PERSONAL   %>
          <% else %>
            <p class="mb-2">So far the idea has <strong><%= @idea.votes.count %></strong> participants.</p>

            <% if @idea.votes.count > @idea.goal %>
              <p class="m-0">The idea has <strong><%= @idea.votes.count - @idea.goal %></strong> participants more than needed in order to be realised.</p>
            <% elsif @idea.votes.count == @idea.goal %>
              <p class="m-0">Congratulations! The idea has reached the amount of paricipants needed in order to be realised.</p>
            <% else %>
              <p class="m-0"> The idea needs <strong><%= @idea.goal - @idea.votes.count %></strong> participants more in order to be realised.</p>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<!--Approve Modal -->
<div class="modal fade" id="approvedModalCenter" tabindex="-1" role="dialog" aria-labelledby="approvedModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close text-right pr-3 pt-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body-approved">
        <div class="p-3"><h5 class="text-success">The idea has been approved successfully!</h5>
          <p>Start working on this idea right now and fix an appointment with the owner's idea!</p>
          <div class="d-flex justify-content-center">
          <a href = "mailto:<%= @idea.user.email %>" class="btn btn-warning py-2">Send Email</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Deny Modal -->
<div class="modal fade" id="denyModalCenter" tabindex="-1" role="dialog" aria-labelledby="denyModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close text-right pr-3 pt-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body-approved">
        <div class="p-3"><h5 class="text-danger">The idea has been officially denied.</h5>
          <p>The owner of this idea will be informed shortly.</p>
        </div>

      </div>
    </div>
  </div>
</div>

<!--Feedback Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close text-right pr-3 pt-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
