<div class="container">
  <div class="row card-show">
    <div class="col-sm-12 p-0">

       <% if @idea.photo.attached?  %>
         <%= cl_image_tag @idea.photo.key, crop: :fill, class: "show-img" %>
       <% end %>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="show-user d-flex align-items-center justify-content-between">

        <div class="d-flex align-items-center">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/joannalisiak", alttext: "profile picture", class: "avatar-large" %>
          <p class="m-0 pl-2"><%= @idea.user.first_name %> <%= @idea.user.last_name  %></p>
          <p class="m-0 pl-4"><%= @idea.deadline %></p>
        </div>
        <div class="show-icons">

          <% if @idea.user == current_user %>
            <%= link_to edit_idea_path(@idea), class: "pr-2" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>

          <% if @idea.user == current_user %>
            <%= link_to idea_path(@idea), method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>

        </div>


      <div class="show-details">
        <h1><%= @idea.title %></h1>
        <p class="details-light"><i class="fas fa-map-marker-alt"></i> <%= @idea.address %></p>
        <div class="details-description">
          <p class="tag">PROBLEM</p>
          <p><%= @idea.problem %></p>
        </div>
        <div class="details-description">
          <p class="tag">SOLUTION</p>
          <p><%= @idea.solution %></p>
        </div>
        <%= link_to idea_path(@idea), class: "btn btn-warning w-100 mt-4" do %>
          <i class="fas fa-microphone"></i> Vote
        <% end %>
      </div>

    </div>


    <div class="col-sm-12 col-md-4">


      <div class="show-progress charts-container d-flex justify-content-center">

        <div class="pie-wrapper">
          <span class="label">45<span class="smaller">%</span></span>
          <div class="pie">
            <div class="left-side half-circle"></div>
            <div class="right-side half-circle"></div>
          </div>
          <div class="shadow"></div>
        </div>

      </div>


    </div>

  </div>

  </div>
  <%= link_to 'go back', ideas_path  %>

</div>


<%#= this is the only piece of code for the progress bar  %>

<div class="progress-container" data-vote="<%= @idea.votes.count / @idea.goal %>"></div>

</div>