<div class="navbar navbar-expand-md navbar-custom navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <h2 class="logo">Votify</h2>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    <i class="fas fa-bars" style="color:#fff; font-size:23px;"></i>
    </span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.role == "municipality" %>
          <li class="nav-item active">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
            <div class="ml-1">
              <% if current_user.photo.attached?  %>
              <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'avatar' %>
              <% else %>
              <p class="letter avatar">
                <%= current_user.first_name.first.capitalize %><%= current_user.last_name.first.capitalize %></p>
              <% end %>
            </div>
          <% else %>
          <li class="nav-item active">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "View ideas", ideas_path, class: "nav-link" %>
          </li>
          <%= link_to "Pitch your idea", new_idea_path, class: "nav-link" %>
          <li>
            <div class="ml-1">
              <% if current_user.photo.attached?  %>
              <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'avatar' %>
              <% else %>
              <p class="letter avatar">
                <%= current_user.first_name.first.capitalize %><%= current_user.last_name.first.capitalize %></p>
              <% end %>
            </div>
          </li>
        <% end %>

      <% else %>
      <li class="nav-item">
        <%= link_to "How it works", root_path(anchor: 'how-it-works'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Testimonials", root_path(anchor: 'testimonials'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "View ideas", ideas_path, class: "nav-link" %>
      </li>
      </li>
      <%= link_to "Pitch your idea", new_idea_path, class: "nav-link" %>
      <li>
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>